:root {
    --h-font-family: 'Quattrocento', serif;
    --main-font-family: 'Quattrocento Sans', sans-serif;
    --nav-font-family: 'MedievalSharp', cursive;
    --nav-font-color: rgb(255, 243, 176);
    --main-bg-color: rgba(255, 243, 176, 0.563);
    --main-font-color: rgb(84, 11, 14);
    --border-color: rgb(158, 42, 43);
}
body {
    background-image: url("../images/main_bg.jpg");
    font-size: 10px;
    display: flex;
    justify-content: center;
}
.main_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: auto;
    background-color: var(--main-bg-color);
    outline: 1px solid var(--border-color);
    font-family: var(--main-font-family);
    color: var(--main-font-color);
    font-size: 1.4rem;
    box-sizing: border-box;
    margin: 2.5rem;
}
/* ----- HEADER STYLES ----- */
.header-bg {
    background-image: url(../images/header_bg.jpg);
    padding: 2.5rem;
    background-size: 100%;
    height: auto;
    background-repeat: no-repeat;
}
nav {
    position: relative;
    height: 25px;
    padding-bottom: 40px;
}
#menu_toggle {
    visibility: hidden;
}
.menu_button {
    position: relative;
    display: flex;
    align-items: center;
    top: 10px;
    left: 30px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}
/* MAKING THE 3 HAMBURGER LINES */

.hamburger-lines,
.hamburger-lines::before,
.hamburger-lines::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--border-color);
    transition-duration: 200ms;
}
.hamburger-lines::before {
    content: "";
    top: -10px;
}
.hamburger-lines::after {
    content: "";
    top: 10px;
}
.menu-box {
    display: none;
    position: absolute;
    top: 10px;
    margin: 0;
    width: 200px;
    padding: 75px 0;
    background-color: rgba(255, 243, 176, 0.796);
    top: 0;
    height: 400px;
    visibility: hidden;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.527);
    /* TRANSITION(átmenet) */
    left: -250px;
    transition: 500ms;
}
.menu-item {
    padding: 10px 30px;
    font-size: 24px;
    cursor: pointer;
}
.nav-link {
    text-decoration: none;
    font-family: var(--nav-font-family);
    color: var(--border-color);

}
.menu-item:hover {
    background-color: var(--nav-font-color);
}
#menu_toggle:checked ~ .menu-box {
    visibility: visible;
    display: block;
    /* TRANSITION(átmenet) */
    left: 0;
}
/* MAKING THE X WHEN WE CLICK ON THE HABMURGER LINES */
#menu_toggle:checked ~ .menu_button .hamburger-lines{
    transform: rotate(45deg);
}
#menu_toggle:checked ~ .menu_button .hamburger-lines::before {
    display: none;
}
#menu_toggle:checked ~ .menu_button .hamburger-lines::after {
    transform: rotate(90deg);
    top: 0px;
}
header h1 {
    font-family: var(--h-font-family);
    font-size: 3rem;
    letter-spacing: 0.188rem;
    text-align: center;
    font-weight: 800;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sights {
    padding: 0.625rem;
}
.sights img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}
.sights h2 {
    font-size: 2rem;
    font-family: var(--h-font-family);
    font-weight: 600;
    text-align: center;
    margin: 0.625rem;
}
.sights p {
    margin: 1.625rem;
    text-align: left;
}
.page-link  {
    display: inline;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: var(--main-font-color);
    cursor: pointer;
}
.page-link:hover {
    color: rgb(179, 27, 32);
    text-decoration: underline;
}
.source {
    font-size: 1rem;
}
@media screen and (min-width: 768px) {
    .sights img {
        width: 500px;
        outline: 1px solid var(--border-color);
    }
}
@media screen and (min-width: 992px) {
    .main_content {
        width: 80vw;
        font-size: 1.7rem;
    }
    .header-bg {
        padding: 15rem;
    }
    header h1 {
        font-size: 5rem;
    }
    .sights img {
        width: 700px;
        outline: 1px solid var(--border-color);
    }
    .sights {
        margin: 1.875rem;
    }
    .text {
        line-height: auto;
    }
}