/* font-family: 'Quattrocento', serif;
font-family: 'Quattrocento Sans', sans-serif; */
/* ----- MAIN STYLES ----- */
:root {
    --h-font-family: 'Quattrocento', serif;
    --main-font-family: 'Quattrocento Sans', sans-serif;
    --nav-font-family: 'MedievalSharp', cursive;
    --nav-font-color: rgb(255, 243, 176);
    --main-bg-color: rgba(255, 243, 176, 0.563);
    --main-font-color: rgb(84, 11, 14);
    --border-color: rgb(158, 42, 43);
}
body {
    background-image: url("../images/main_bg.jpg");
    font-size: 10px;
    display: flex;
    justify-content: center;
}
.main_content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 90vw;
    height: auto;
    background-color: var(--main-bg-color);
    outline: 1px solid var(--border-color);
    font-family: var(--main-font-family);
    color: var(--main-font-color);
    font-size: 1.4rem;
    box-sizing: border-box;
    margin: 2.5rem;
}
/* ----- HEADER STYLES ----- */
.header-bg {
    background-image: url(../images/header_bg.jpg);
    padding: 5rem;
    background-size: 100%;
    height: auto;
    background-repeat: no-repeat;
}
nav {
    position: relative;
}
#menu_toggle {
    visibility: hidden;
}
.menu_button {
    position: relative;
    display: flex;
    align-items: center;
    top: 10px;
    left: 30px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 1;
}
/* MAKING THE 3 HAMBURGER LINES */

.hamburger-lines,
.hamburger-lines::before,
.hamburger-lines::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--border-color);
    transition-duration: 200ms;
}
.hamburger-lines::before {
    content: "";
    top: -10px;
}
.hamburger-lines::after {
    content: "";
    top: 10px;
}
.menu-box {
    display: none;
    position: absolute;
    top: 10px;
    margin: 0;
    width: 200px;
    padding: 75px 0;
    background-color: rgba(255, 243, 176, 0.796);
    top: 0;
    height: 400px;
    visibility: hidden;
    box-shadow: 3px 0 5px rgba(0, 0, 0, 0.527);
    /* TRANSITION(átmenet) */
    left: -250px;
    transition: 500ms;
}
.menu-item {
    padding: 10px 30px;
    font-size: 24px;
    cursor: pointer;
}
.nav-link {
    text-decoration: none;
    font-family: var(--nav-font-family);
    color: var(--border-color);

}
.menu-item:hover {
    background-color: var(--nav-font-color);
}
#menu_toggle:checked ~ .menu-box {
    visibility: visible;
    display: block;
    /* TRANSITION(átmenet) */
    left: 0;
}
/* MAKING THE X WHEN WE CLICK ON THE HABMURGER LINES */
#menu_toggle:checked ~ .menu_button .hamburger-lines{
    transform: rotate(45deg);
}
#menu_toggle:checked ~ .menu_button .hamburger-lines::before {
    display: none;
}
#menu_toggle:checked ~ .menu_button .hamburger-lines::after {
    transform: rotate(90deg);
    top: 0px;
}
header h1 {
    font-family: var(--h-font-family);
    font-size: 5rem;
    letter-spacing: 0.188rem;
    text-align: center;
    font-weight: 800;
    padding-top: 1rem;
}
blockquote {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    font-style: italic;
    margin: 1.625rem;
}
blockquote::before {
    content: open-quote;
}
blockquote::after {
    content: close-quote;
}
.author {
    text-align: center;
    font-size: 1.2rem;
}
/* ----- MAIN ----- */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-page-link {
    text-decoration: none;
    color: var(--main-font-color);
    cursor: pointer;
}
.main-page-link:hover {
    color: rgb(179, 27, 32);
    text-decoration: underline;
}
/* .text::first-letter {
    font-size: 2rem;
    font-weight: 600;
} */
.introduction p {
    margin: 1.625rem;
    text-align: left;
}
/* --- SIGHTS STYLE --- */
.sights {
    padding: 0.625rem;
}
.sights img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    min-width: 200px;
    max-width: 300px;
}
.sights h2 {
    font-size: 2rem;
    font-family: var(--h-font-family);
    font-weight: 600;
    text-align: center;
    margin: 0.625rem;
}
.sights p {
    margin: 1.625rem;
    text-align: justify;
}
/* --- IMAGE GALLERY --- */
.gallery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.gallery .image {
    width: 100%;
    padding: 0.625rem;
    margin-left: auto;
    margin-right: auto;
}
.gallery .image img {
    width: 300px;
    vertical-align: middle;
    transition: all 0.3s ease;
}
.gallery .image:hover img {
    transform: scale(1.01);
}
/* --- PREVIEW BOX --- */
.preview-box {
    position: fixed;
    max-width: 700px;
    width: 100%;
    top: 50%;
    left: 50%;
    z-index: 5;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -50%) scale(0.9);
    background-color: var(--main-bg-color);
    padding: 0 5px 5px 5px;
    border-radius: 3px;
}
.preview-box.show {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.3s ease;
}
.preview-box .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 15px 12px 10px;
}
.preview-box .details .icon {
    cursor: pointer;
}
.details .title {
    display: flex;
    font-size: 1.8rem;
    font-weight: 400;
}
.details .title p{
    margin: 0 5px;
}
.details .title p.current-img {
    font-weight: 500;
}
.preview-box .img-box {
    display: flex;
    width: 100%;
}
.img-box .slide {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3rem;
    z-index: 3;
    cursor: pointer;
    color: rgb(255, 243, 176);
    width: 60px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.img-box .slide.next {
    right: 0;
}
.img-box .slide.prev {
    left: 0;
}
.preview-box .img-box img {
    width: 100%;
    border-radius: 0 0 3px 3px;
}
.shadow {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    background: rgba(0, 0, 0, 0.4);
}
/* --- RESPONSIVE STYLES --- */
@media screen and (min-width: 768px) {
    .header-bg {
        padding: 5rem;
    }
    .sights img {
        min-width: 350px;
        max-width: 400px;
    }
    .gallery {
        flex-direction: row;
        flex-wrap: wrap;
    }
    .gallery .image {
        box-sizing: border-box;
        width: calc(100% / 2);
    }
    .gallery .image span {
        display: flex;
        width: 100%;
        overflow: hidden;
    }
    .gallery .image img {
        width: 100%;
    }
    .gallery .image:hover img {
        transform: scale(1.11);
    }
}
@media screen and (min-width: 992px) {
    .main_content {
        width: 80vw;
        font-size: 1.7rem;
    }
    .header-bg {
        padding: 10rem;
    }
    main {
        display: block;
    }
    .row {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 0;
    }
    .sights img {
        width: 350px;
        filter: grayscale(70%);
    }
    .sights img:hover {
        filter: grayscale(0);
    }
    .sights {
        margin: 1.875rem;
    }
    .gallery .image {
        width: calc(100% / 3);
        padding: 0.313rem;
    }
    .gallery .image img{
        width: 100%;
    }
    .preview-box {
        max-width: 900px;
    }
}
@media screen and (min-width: 1400px) {
    .sights img {
        min-width: 500px;
        width: 600px;
        border-radius: 0%;
    }
    .preview-box {
        max-width: 1100px;
    }
}
